@media screen and (min-width: 0px) and (max-width: 520px){
    
    .sub1-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    aside {
        height: 100%;
        padding-bottom: 5rem;
        display: none;
    }
    
    .navTitle {
        padding-inline: 20px 15px;
    }
    
    .navTitle h1, .memos {
        font-size: 38px;
    }
    
    .icon-bar {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    
    .dateTitle {
        margin-block: 9% 8%;
    }
    
    #date {
        height: 2.3rem;
        width: 18rem;
        font-size: 1.2rem;
    }
    
    .msgThoughts {
        text-align: center;
    }

    .warning {
        top: 168px;
        left: 60px;
    }
    
    #thoughts {
        height: 340px;
        width: 82vw;
        border-radius: 1rem;
        padding: 0.8rem;
        word-spacing: 3px;
    }
    
    .btnDiv {
        margin-block: 7% 4%;
    }
    
    .btn {
        margin-inline: 5% 1%;
        border-radius: 10px;
    }
    
    .btn-alldlt {
        right: 23%;
    }

    .historyList {
        height: 2.28rem;
        width: 16rem;
        padding: 5px 5px 15px 5px;
        font-size: 1.1rem;
        font-weight: 500;
        margin-block: 10px 0px;
    }
}


@media screen and (min-width: 520px) and (max-width: 910px) {
    
    .sub1-container {
        width: 100%;
        height: 100%;
    }
    
    aside {
        /* width: 85%; */
        padding-bottom: 5rem;
        display: none;
    }
    
    .navTitle {
        padding-inline: 30px 25px;
    }
    
    .navTitle h1, .memos {
        font-size: 43px;
    }
    
    .icon-bar {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    
    .dateTitle {
        margin-block: 9% 8%;
    }
    
    #date {
        height: 2.3rem;
        width: 22rem;
        font-size: 1.3rem;
    }

    .toggleEff {
        width: 60%;
    }

    .warning {
        top: 210px;
        left: 72px;
    }
    
    
    #thoughts {
        height: 340px;
        width: 81vw;
        border-radius: 1.5rem;
        padding: 1.2rem;
        word-spacing: 3px;
    }
    
    .btnDiv {
        margin-block: 8% 4%;
        display: flex;
        align-items: center;
    }
    
    .btn-alldlt {
        right: 30%;
    }
}